@import "../styles/variables.scss";

.main {
  height: 95vh;
  display: grid;
  place-content: center;
}

.header {
  font-size: 4em;
  font-family: $fontSecondary;
}

.counter {
  display: grid;
  place-content: center;
  font-family: $fontPrimary;
  font-size: 2em;
  font-weight: 800;
}

.count {
  color: $primary;
}

.buttonContainer {
  display: grid;
  place-content: center;
  width: 100%;
}

.button {
  border-radius: 0.5em;
  font-weight: bold;
  font-size: 1em;
  width: 15em;
  height: 3em;
  font-family: $fontPrimary;

  &:hover {
    background: $primary;
    transition: 200ms;
    cursor: pointer;
  }
}

.nav {
  display: flex;
  gap: 20px;
  font-family: $fontPrimary;
  user-select: none;
}

.link {
  color: white;
}

.outlet {
  font-family: $fontPrimary;
  font-size: 4em;
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}
